# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.virtualenv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm IDE settings
.idea/

# VS Code IDE settings
.vscode/

# MyPy type checking cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask instance folder
instance/

# Scrapy logs
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Celery
celerybeat-schedule
*.celerydb

# Editor backups and metadata
*.swp
*.swo
*~
*.bak
*.tmp

# MacOS system files
.DS_Store

# VITS model cache
.cache/podgen/

# test data folder
/data/
/output/
